*{
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
html, body {
  overflow: hidden;
}
body {
  // color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.container{
  padding: 0px;
}

.scroll-container {
  max-width: 100%;
  height: calc(100vh - 188px);
  overflow-y: auto;
}
.v-btn {
  pointer-events: all !important;
}
.v-tabs {
  background: white;
  height: 100vh;
}
.scroll-container__tabs {
  max-width: 100%;
  height: calc(100vh - 243px);
  overflow-y: auto;
  overflow-x: hidden;
  // background-color: #ffffff; 
}
.flex {
  background: white;
}