.button{
    text-decoration:none;
    padding: $xs-size;
    border-radius: 3px;
    margin: 0 $xs-size;
    font-size: $font-size-small;
    font-weight: normal;
    vertical-align: middle;
}

.button__absolute-right{
    position: absolute;
    top: 33px;
    right: 19%;
}
.button:disabled{
    background:$light-grey;
}
.button__blue{
    background: $ndtec-blue;
    color: $white;
}
.button__green{
    background: $ndtec-green;
    color: $white;
}
.button__red-text{
    color: red !important;
}
.button__red{
    background: red;
    color: $white;
}

.button__sm-reset{
    @extend .button__red;
    padding: 2px 5px;
    font-size: $font-size-xsmall;
}